body{
    border: 0;
    margin: 15px;
   
}

*{margin: 5px;
    border: 0;
}

/* HEADER */
header{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Saira', sans-serif;
}

.image-logo {
    display: flex;
    transition-duration: .5s;
    
}
.image-logo:hover{
    transform: scale(1.05);
    cursor:pointer;
}
.name{
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
}
.name h1{
    font-size: 2rem;
    text-align: center;
    
}
.name h2 {
    font-size: 2rem;
    
}

nav{
    display: flex;
    flex-direction: row;
}
.login{
    color: black;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
}
.products{
    color: black;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
}
.login:hover {
    transform: scale(1.05);
    transition-duration: .5s;
    background-color:rgb(143, 185, 228);
    color: white;
    cursor:pointer;
}
.products:hover {
    transform: scale(1.05);
    transition-duration: .5s;
    background-color:rgb(143, 185, 228);
    color: white;
    cursor:pointer;
}
form{
    background-color:rgb(207, 225, 243);
    border-radius: 5px;
    color: rgb(112, 109, 109);
    font-size: 1rem;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    align-items: center;
    font-family: 'Saira', sans-serif;
}
.consult{
    font-size: 20px;
    color: rgb(99, 99, 99);
    text-align: center;
    margin-bottom: 15px;
}
input, textarea{
    border-radius: 5px;
    border: 0;
    margin:0;
    outline: none;;
    width: 480px;
}
textarea{
    height: 110px;
}

.field{
    border-radius: 5px;
    margin: 0;
    border: solid 1px rgb(197, 197, 197);
    padding: 10px;

}

.field:focus{
    border-color: #18A383;
}

.btn{
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
}
.center-content:hover{
    transform: scale(1.05);
    cursor: pointer;
}


/* FOOTER */
footer{
    display: flex;
    font-family: 'Saira', sans-serif;
    justify-content: end;
    font-size: large;  
    margin-top: 3rem;
}
.contact {
    text-decoration: none;
    color: black;
}
.contact:hover{
    transform: scale(1.05);
    transition-duration: .5s;
    color: white;
    background-color:rgb(143, 185, 228);
    border-radius: 5px;
    cursor:pointer;
}

/* MEDIA QUERY 576px */
@media only screen and (max-width:576px) { 
    header {
        width: 500px;
        flex-direction: column;
        text-align: center;
    }
    .name {
        margin-top: auto;
    }
    main{
        width: 480px;
        align-items: center;
        margin-top: 45px;
    }
    form{
        height: 480px;
        width: 500px;
        padding: 10px;    
    }
    footer{
        width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
   
}

/* MEDIA QUERY 768px */
@media only screen and (max-width:768px) { 
    header {
        width: 740px;
        flex-direction: column;
        text-align: center;
    }
    .name {
        margin-top: auto;
    }
    main{
        width: 740px;
    }
    form{
        margin-top: 30px;
        height: 480px;
        width: 500px;
        padding: 10px;    
    }
    footer{
        width: 768px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
   