html{
    width: 80vw;
}
body{
    border: 0;
    margin: 15px;
   
}

*{margin: 5px;
    border: 0;
}

/* HEADER */
header{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Saira', sans-serif;
}

.image-logo {
    display: flex;
    transition-duration: .5s;
     
}
.image-logo:hover{
    transform: scale(1.05);
    cursor:pointer;
}
.name{
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
}
.name h1{
 font-size: 2rem;
 text-align: center;
 
}
.name h2 {
    font-size: 2rem;
    
}

nav{
    display: flex;
    flex-direction: row;
}
.login{
    color: black;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
}
.products{
    color: black;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
}
.login:hover {
    transform: scale(1.05);
    transition-duration: .5s;
    background-color:rgb(143, 185, 228);
    color: white;
    cursor:pointer;
}
.products:hover {
    transform: scale(1.05);
    transition-duration: .5s;
    background-color:rgb(143, 185, 228);
    color: white;
    cursor:pointer;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* FORMS */
form{
    background-color:rgb(233, 238, 243);
    border-radius: 5px;
    color: rgb(112, 109, 109);
    font-size: 1rem;
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    align-items: center;
    text-align: start;
    font-family: 'Saira', sans-serif;
}
.user{
    font-size: 1.5rem;
    text-align: center;
    color: black;
    margin-bottom: 3rem;
}
.field{
    border-radius: 5px;
    margin: 0;
    border: solid 1px rgb(197, 197, 197);
    padding: 10px;
    width: 325px;
}

.btn{
    background-color: beige;
    width:315px ;
    height: 30px;
    font-family: 'Saira', sans-serif;
    font-size: large;
    color: rgb(112, 109, 109);
    width: 350px;

}
.btn:hover {
    cursor: pointer;
    background-color: rgb(122, 146, 138);
    border-radius: 5px;
    transform: scale(1.05);
    transition-duration: .5s;
    color: black;
}

/* FOOTER */

footer{
    display: flex;
    font-family: 'Saira', sans-serif;
    justify-content: end;
    font-size: large;  
    margin-top: 3rem;
    margin-right: 5rem;
}
.contact {
    text-decoration: none;
    color: black;
}
.contact:hover{
    transform: scale(1.05);
    transition-duration: .5s;
    color: white;
    background-color:rgb(143, 185, 228);
    border-radius: 5px;
    cursor:pointer;
}

/* MEDIA QUERY  576px */
@media only screen and (max-width:576px) { 
    header {
        width: 500px;
        flex-direction: column;
        text-align: center;
    }
    .name {
        margin-top: auto;
    }
    main{
        width: 576px;
        align-items: center;
        margin-top: 45px;
    }
    footer{
        width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    
}

/* MEDIA QUERY  768px */
@media only screen and (max-width:768px) { 
    header {
        width: 740px;
        flex-direction: column;
        text-align: center;
    }
    .name {
        margin-top: auto;
    }
    main{
        width: 740px;
    }
    form{
        margin-top: 30px;
    }
    footer{
        width: 768px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
}